<div class="w-100 bg-color border-top">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center align-content-end pt-0 mt-4">
      <div class="col-md-6 d-flex align-items-center">
        <span class="mb-md-0 footer-text">© 2025 Luís Mesquita, created with some criavity ✌️</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          LinkedIn          
        </li>
        <li class="ms-3">
          Instagram
        </li>
      </ul>
    </footer>
  </div>
</div>
